# Environment
NODE_ENV=development
PORT=4000

# CORS Configuration
CORS_ORIGIN=http://localhost:3000

# Database Configuration
DATABASE_URL="postgresql://neondb_owner:npg_8qBxHNXL2htz@ep-wild-river-b5k25flk-pooler.c-7.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
